@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

*{
margin: 0;
padding: 0;

}

header{
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('./src/hero1.png') no-repeat;
    background-size:cover;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}
.fa-bars {
    float: right;
    margin-right:12%;
}
nav{
    display: grid;
    gap: 8rem;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template:repeat(2,1fr)/repeat(4,1fr);
    width:90%;
    margin: 0 auto;
    gap:3rem;

}
ul li{
    color: #FFF;
    font-family: 'Tenor Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.second-nav{
    display: flex;
    justify-content: center;
}
header h1{
    color: #FFF;
    font-family: 'Tenor Sans';
    font-size: 160px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Heading{
    margin: 0 auto;
    padding: 8rem 0;
}
header svg{
    display: flex;
    flex-direction: column;
    width:5%;
}
.icons{
    display: flex;
    gap: 2rem;
}
i{
    color: #ffffff;
}
