@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Tenor+Sans&display=swap');

*{
margin: 0;
padding: 0;

}
li:hover,i:hover{
    transform: translateY(-6px);
}
.fa-bars:hover{
    transform: translateY(0);
}
.header{
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('./src/hero1.png') no-repeat;
    background-size:cover;
    background-image: 90%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fa-bars {
    float: right;
    margin-right:8%;
    cursor: pointer;
}
nav{
    display: grid;
    gap: 8rem;
    margin: 0 8rem;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template:repeat(2,1fr)/repeat(4,1fr);
    width:90%;
    margin: 0 auto;
    gap:3rem;

}
#nav-items{
    display: none;
}
ul li{
    color: #FFF;
    font-family: 'Tenor Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
i{
    cursor: pointer;
}


.second-nav{
    display: flex;
    justify-content: center;
}
.Heading{
    color: #FFF;
    font-family: 'Tenor Sans';
    font-size: 160px;
    font-weight: 400;
    margin: 0 auto;
    padding: 9.5rem 0;
}
header svg{
    display: flex;
    flex-direction: column;
    width:5%;
}
.icons{
    padding: 9rem 0 2rem 8rem;
    display: flex;
    gap: 2rem;
}
i{
    color: #ffffff;
}
/*Wave*/

.WaveSection{
    padding: 20% 0;
    background-color: #000;
    height: 60vh;
    width: 100%;
}
.Wave{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.Wave-Background{
    position: absolute;
    z-index: 1;
}
.Wave-Background img{
    display: flex;
    justify-content: center;
    width: 80%;
    margin:0 auto 0 25%;
    opacity: 0.4;
}
.WaveUpperText{
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    display: flex;
    gap: 52%;
    width: 65%;
    justify-content: space-between;
    margin: 0 auto;
}
.WuT1{
    margin:0 0 0 1rem;
}
.WuT2{
    margin: 4rem 4rem 0 0;
}
.WaveHeading{
    color: #ffffff;
    font-family: 'Tenor Sans';
    font-size: 6rem;
    font-weight: 400;
    display: grid;
    grid-template-areas: 'Top .'
                          '. Bottom';
    
    margin:  0 39% 0 auto;
}
.Heading-1{
    grid-area: Top;
}
.Heading-2{
    grid-area: Bottom;
}
.WaveLowerTest{
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;   
    display: flex;
    width: 33%;
    justify-content: space-between;
    margin: 7rem auto 0 19%;
}



/*new homes*/
.newHomesSection{
    width:90%;
    margin: 8rem auto;
    position: relative;
    padding: 4rem 0;
    
}
.newHomesHeading{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 120px;
    font-weight: 400;
    position: absolute;
    left: 25%;
    top:40%;
    z-index: 1;
}
.newHomes{
    position: relative;
    display:grid;
    grid-template: 1fr/repeat(2,1fr);
    height: 80vh;
    gap:20%;
}
.firstnewHomeFirstSection{
    display: flex;
    flex-direction: column;
    gap:90%;
    padding: 10% 0 0 10%;
}
.newHomesIcons{
    display: flex;
    gap:1rem;
}
.newHomesIcons i{
    color: #ede6e6;
}
.newHomesIcons p{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 20px;
    font-weight: 400;
}

.newHomesVideo{
    width: 100%;
}
.video{
    display: flex;
    height: 80vh;
    background-size: cover;
    background-position: center;
}
/*Rent*/
.RentSection,.HomesSection,.Rentals,.contacts,.News{
    width:80%;
    margin: 0 auto;
    padding: 4rem 0;
}
.RentGrid,.HomesGrid{
    border:2rem solid #000;
    border-radius: 1rem;
}
.Rent{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 4rem;
}
.Rent-logo{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 20px;
    font-weight: 400;
    padding: 3rem;
}
.Rent-contant{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20% 0 2rem 0;

}
.RentContentHeading{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    
}
.RentContentHeading1{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 60px;
    font-weight: 400;
    margin: 1rem 0;
}
.RentContentSubHeading{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 2rem;
    font-weight: 400;
    
}
.RentContentTest{
    color: #272727;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
}
.search{
    color: #272727;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.5;
    margin: 2rem 0;
}
.Rent-img img{
    width: 90%;
    height: 100vh;
}
/*Rentals*/
.RentalsSection{
    width: 80%;
    margin: 4rem auto;
}
.Rentals{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
}
.RentalsText{
    margin-top: 1.5rem;
}
.Rentalslogo{
    grid-column: 1/-1;
    margin-bottom: 1.5rem;
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 20px;
    font-weight: 400;
}
.RentalsHeading{
    grid-column: 1/-1;
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 50px;
    margin: 0 auto 6% 20%;
}
.RentalsImg1{
    grid-column: 1/2;
    display: flex;
    gap: 4rem;
}
.RentalsImg2{
    grid-column: 2/-1;
    margin:8rem 0 0 6rem;
}
.RentalsImg2 img{
    width: 80%;
}
.RentalsImg3{
    grid-column: 1/-1;
    margin: 6rem 0 6rem 7rem;
}
.RentalsImg3 img{
    width: 80%;
}
.RentalsImg4{
    margin: 6rem 0 4rem 0;
}
.RentalsImg4 img{
    width: 80%;
}
.RentalsImg5{
    margin-left: 5rem;
}
.RentalsText{
    color: #272727;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
}
.RentalsIcons{
    grid-column: 1/2;
}
/*Homes*/
.Homes{
    display: grid;
    grid-template-columns:3fr 1fr;
    gap:1rem;
}
.HomesList{
    padding: 30% 0 4rem 15%;
}
.HomeHeading{
    display: flex;
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 50px;
    margin: 4rem 0;
}
.Home-list{
    display: flex;
}
.ListImg{
    width: 95%;
}
.listText{
    color: #272727;
    text-align: justify;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
}
/*about*/
.NewsFirst{
    width:60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.NewsDate{
    margin-right: 4rem;
    margin-left: 4rem;
}
.newsnumber{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
}
.newsText{
    color: #272727;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 2rem;
}


.NewsSecond{
    width: 55%;
    text-align: left;
    margin-left: auto;
}
.NewsSecond h2{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}
.NewsSecond p{
    color: #272727;
    text-align: justify;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
    margin: 2rem 0;
}
.NewsSecond h6{
    color: #272727;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;
}



.NewsSecondSection{
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 6rem;
    height: 100vh;
}
.NewsSecondImg{
    background-image: url("./src/Newsbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
}
.NewsSecondImg img{
    width:100%;
    height: 40vh;
    margin: 80% 0 0 0;
}
.NewsSecondContant{
    width: 60%;
}
.NewsSecondContantHeading1{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 2rem;
    font-weight: 400;
    margin: 6rem 0 0 0;
    line-height: 50px;
}
.NewsSecondContantHeading2{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 4rem;
    font-weight: 400;
    line-height: 50px;
    margin:1rem 0;
    
}
.NewsSecondContant p{
    color: #000000;
    text-align: justify;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
    margin: 1rem 0;
}
.NewsSecondContant a{
    color: #100e0e;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    text-decoration-line: underline;
}
.NewsSecondContantNumber{
    color: #272727;
    font-family: 'Tenor Sans';
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
}
.NewsSecondContantText{
    color: #272727;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
}
.NewsSecondContant hr{
     margin: 2rem 0 1rem 0;
}

/*contact*/
.contacts{
    width: 100%;
    padding: 4rem 0 0 0;
    margin: 0;
}
.contactsBorder{
    border: 10rem solid #000;
}
.contactsGrid{
    display: grid;
    grid-template-columns: 80% 20%;
}
.address{
    margin-top: 150%;
    color: #1A1F20;
    font-family: 'Tenor Sans';
    font-size: 0.9rem;
    font-weight: 400;
    padding: 1rem;
    text-align:left;
    line-height: 2rem;
}
.contactsHeading{
    color: #FFF;
    font-family: 'Tenor Sans';
    font-size: 120px;
    font-weight: 400;
    margin: 3rem 0;
}
.newsletter{
    color: #FFF;
    font-family: 'Tenor Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin: 2rem 0;
}
.contactInput{
    color: #FFF;
    font-family: 'Tenor Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
}
.contactsFormContant{
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('./src/contact.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactsForm{
    padding-left:6rem ;
}
.contactsFormIcons{
    margin-top: 8rem;
    color: rgb(237, 243, 243);
    opacity: 0.5;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .header{
        background-size:cover;
        padding: 4rem 0;
        width: 150%;
    }
    .fa-bars {
        margin-right:4%;
    }
    nav{
        gap: 1rem;
        margin: 10px;
    }
    ul{
        gap:1rem;
    }
    ul li{
        font-size: 8px;
    }
    .Heading{
        font-size: 3rem;
    }
    /*Wave*/

.WaveSection{
    width: 150%;
    height: 22vh;
}
.Wave{
    width: 120%;
}

.Wave-Background img{
    width: 80%;
}
.WaveUpperText{
    font-size: 10px;
    gap: 60%;
    width: 80%;
}
.WuT1{
    margin:0 0 0 3rem;
}
.WuT2{
    margin: 1rem 1rem 0 0;
}
.WaveHeading{
    font-size: 1rem;
    margin:  0 39% 0 auto;
}
.WaveLowerTest{
    font-size: 12px;
    width: 40%;
    margin: 4rem auto 0 22%;
}

/*new homes*/
.newHomesHeading{
    font-size: 5rem;
    position: absolute;
    left: 25%;
    top:40%;
}
.newHomesSection{
    width:90%;
    margin: 1rem auto;
    padding: 1rem 0;
}

/*Rent*/
.RentSection,.HomesSection,.Rentals,.contacts,.News{
    width:140%;
    margin: 0 auto;
    padding: 4rem 0;
    margin: 0 1rem ;
}

.Rent-logo{
    font-size: 0.6rem;
    padding: 2rem 4rem 0 0;
}
.Rent-contant{
    padding-top: 20%;
}
.RentContentHeading{
    font-size: 0.8rem;
    
}
.RentContentHeading1{
    font-size: 1rem;
}
.RentContentSubHeading{
    font-size: 1rem;
}
.RentContentTest{
    font-size: 0.7rem;
}
.search{
    font-size: 9px;
    margin: 1rem 0;
}
.Rent-img img{
    width: 150%;
    height: 60vh;
}

/*Rentals*/
.RentalsSection{
    width: 80%;
    margin: 2rem auto;
}
.Rentals img{
    width:100%;
}
.RentalsText{
    margin-top: 1.5rem;
}
.Rentalslogo{
    font-size: 1.2rem;
}
.RentalsHeading{
    font-size: 1rem;
    margin: 0 auto 6% 15%;
}
.RentalsImg1{
    gap: 1rem;
}
.RentalsImg2{
    margin:5rem 0 0 4rem;
}
.RentalsImg2 img{
    width: 120%;
}
.RentalsImg3{
    margin: 6rem 0 6rem 2rem;
}
.RentalsImg5{
    margin-left: 4rem;
}
.RentalsText{
    font-size: 0.8rem;
}
/*Homes*/
.Homes{
    gap:1rem;
}
.HomesList{
    padding: 10% 0 5rem 5%;
}
.HomeHeading{
    font-size: 1rem;
}
.ListImg{
    width: 90%;
}
.listText{
    font-size: 8px;
}
.hero-4 img{
    width: 100%;
    height: 60vh;
}

/*about*/
.NewsFirst{
    width:90%;
}
.newsnumber{
    font-size: 2rem;
}
.newsText{
    font-size: 10px;
}
.NewsFirst{
    width:90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.NewsDate{
    margin-right: 4rem;
    margin-left: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.NewsSecond{
    width: 80%;
    text-align: left;
}
.NewsSecond h2{
    font-size: 1.5rem;
}
.NewsSecond p{
    font-size: 1rem;
    margin: 1rem 0;
}
.NewsSecond h6{
    font-size: 1rem;
}
.NewsSecondContant{
    width: 100%;
}
.NewsSecondContantHeading1{
    font-size: 0.8rem;
}
.NewsSecondContantHeading2{
    font-size: 2rem;
}
.NewsSecondContant p{
    font-size: 0.5rem;
}
.NewsSecondContant a{
    font-size: 0.5rem;
}
.NewsSecondContantNumber{
    font-size: 1rem;
}
.NewsSecondContantText{
    font-size: 0.5rem;
}
.NewsSecondContant hr{
     margin: 2rem 0 1rem 0;
}
.NewsSecondImg img{
    width:90%;
    height: 35vh;
    margin: 90% 0 0 2rem;
}
/*contact*/
.contacts{
    width: 140%;
    padding: 4rem 0 0 0;
    margin: 0 1rem;
}
.contactsBorder{
    border: 1rem solid #000;
}
.address{
    margin: 500% 0 auto 0;
    font-size: 0.4rem;
    padding: 1rem;
    line-height: 1rem;
}
.contactsHeading{
    font-size: 3rem;
}


.contactsForm{
    padding-left:4rem ;
}
.contactsFormIcons{
    margin-top: 8rem;
    color: rgb(237, 243, 243);
    opacity: 0.5;
    display: none;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Tablets, iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* Tablets, iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

